*, html, body {
  margin: 0px;
  padding: 0px;
}

p, #buttons {
  text-align: center;
}

p {
  margin-bottom: 35px;
}

.nav-extended {
  background-color: #00838f;
  width: 90%;
  margin: 0 auto;
}

.nav-extended li {
  width: 25%;
}

a {
  text-align: center;
}

header .nav-wrapper {
  margin: 0;
  background-color: #ff9100;
}

.content .nav-wrapper {
  background-color: #00838F;
}

#history {
  float: left;
  width: 25%;
  background-color: 
  height: calc(100vh - 50px);
}

#history h2 {
  margin: 0;
  font-size:  1.5em;
}

#history div {
  padding: 5%;
}

#history ul {
  height: 68.5%;
  overflow: auto;
}

#content {
  box-sizing: border-box;
  float: right;
  width: 75%;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  width: 90%;
  min-height: 70%;
  margin: 0 auto 15px;
}

@media only screen and (max-width:1024px) {
  #content {
    float: none; 
    width: 100%;
  }

  .nav-extended {
    width: 100%;
  }

  #map {
    width: 100%;
  }

  #history {
    float: none;
    width: 100%;
  }

  #history ul {
    height: 25%;
  }

  button {
    font-size: 1.2em;
    margin-bottom: 5%;
  }

  #content a {
    font-size: 1.2em;
  }
}
