* {
    margin: 0px;
    padding: 0px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    width: 50%;
    min-height: 50%;
    margin: 0 auto;
}

#headers {
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}
 
#buttons {
    text-align: center;
    margin-top: 10px;
}


ul {

    width: 50%;
    margin: 0 auto;

}

li {
    box-sizing: border-box;
    width: 25%;
}

a {
    text-align: center;
    font-size: 40%:
}